@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
/*font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  display: flex;
  justify-content: center; /* 주축->기본값 row에서 / certer ->가운데정렬*/
  align-items: center;
  width: 100vw;
  height: 100vw;
  background-image: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background-color: rgb(203, 166, 195, 0.4);
  width: 600px;
  height: 750px;
  padding: 4rem;
  border-radius: 3rem;
}

.form--header {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.form--header > h1 {
  margin-bottom: 1em;
  font-size: 2.4em;
}

.form--header > p {
  margin-bottom: 3em;
}

.form--list {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.form--list label {
  display: flex;
  align-items: center;
  font-weight: lighter;
  width: 5em;
}

.form--list__input {
  width: 20em;
  height: 2.5em;
  border-radius: 0.3em;
}

.form--list:last-child {
  margin-top: 4em;
}

.form--list__check {
  font-weight: 400;
  color: rgb(201, 134, 117);
}

.form--list > a {
  text-decoration: none;
  color: rgb(201, 134, 117);
}

button {
  width: 100%;
  height: 3em;
  border-radius: 0.3em;
  margin-top: 2.5em;
  font-size: 1em;
}

.valid--icon {
  width: 1.5em;
}

.form--list__input {
  padding: 0em 0.5em;
}

/* DOM에서 추가할 속성들 */
/* ID check */
.input__id.input__idValue__check {
  color: tomato;
  background-color: rgba(255, 192, 203, 0.493);
}

.input__id.input__idCheck {
  color: green;
}

/* password check */
.input__pw.input__pwValue__check {
  color: tomato;
  background-color: rgba(255, 192, 203, 0.493);
}

.input__pw.input__pwCheck {
  color: green;
}

/* password confirm check */
.input__pwc.input__pwcValue__check {
  color: tomato;
  background-color: rgba(255, 192, 203, 0.493);
}

.input__pwc.input__pwcCheck {
  color: green;
}
